* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

footer {
    width: 100vw;
    height: 300px;
    background: red;
}

h3 {
    font-size: 1.5em;
    margin: 0 5px;
}

#nav {
    width: 100vw;
    background:  rgb(70, 69, 64);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    overflow-y: hidden;
}
#nav > ul {
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#nav > ul > li {
    float: left;
    list-style: none;
    padding: 7px 10px;
}
#nav > ul > li > a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    background: white;
    border-radius: 3px;
}

/* UTILITIES */
.center {
    margin: 10px auto;
}

/* CSS FÖR INDEX.HTML */
#start_main {
    background-color: rgb(108, 108, 199);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_main > section {
    background: rgba(255, 255, 0, 0.233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big_nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#big_nav > a {
    width: 200px;
    height: 100px;
    background-color: white;
    margin: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS FÖR MENU.HTML */
#menu {
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(112, 112, 100);
    display: flex;
    flex-direction: column;
}

.menu_item {
    background: rgb(249, 252, 249);
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
}
.menu_item > img {
    width: 50%;
    max-width: 300px;
}
.menu_item > div {
    margin: 10px;
    padding: 10px;
    background: white;
    width: 100%;
}