* {
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
    --secondary-color: #F45866;
    --secondary-color-light: #F49390;
    --main-color: #D6EFFF;
    --main-color-light: #FEFEFF;
}

/* CSS FÖR ELEMENTTAGGAR */
body {
    margin: 0;
    background-color: var(--main-color-light);
}

h3 {
    font-size: 1.5em;
    margin: 0 5px;
}
a {
    text-decoration: none;
    font-style: none;
    color: inherit;
    display: inline-block;
}
a:hover {
    color: black;
    background-color: white;
}

/* NAV */
#nav {
    width: 100vw;
    background: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45px;
    overflow-y: hidden;
}
#nav > ul {
    width: 60%;
    max-width: 500px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav > ul > li {
    float: left;
    list-style: none;
    padding: 7px 10px;
}
#nav > ul > li > a, #big_nav > a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 12px;
    background: var(--secondary-color-light);
    border-radius: 20px;
}
#nav > ul > li > a:hover, #big_nav > a:hover {
    background-color: #ec8884;
    transition: ease 100ms;
    transform: scale(1.02);
}
#logo {
    width: auto;
    height: 100%;
    max-height: 200px;
}

/* UTILITIES */
.center {
    margin: 10px auto;
}
.shadow {
    box-shadow: 7px 7px 0px 0px  var(--secondary-color);
}
.column {
    display: flex;
    flex-direction: column;
}

/* CSS FÖR INDEX.HTML */
#start_main {
    background-color: var(--main-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../img/indexbg.jpg'); */
    background-position: center;
}

#start_main > section {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big_nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#big_nav > a {
    width: 200px;
    height: 100px;
    margin: 20px;
    font-size: 1.5rem;
    border: 10px solid var(--secondary-color);
    background-color: var(--secondary-color-light);
}


/* CSS FÖR MENU.HTML */
#menu {
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.menu_item {
    background: rgb(249, 252, 249);
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: solid rgb(255, 255, 255) 3px;
}
.menu_item > img {
    width: 50%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.menu_item > div {
    margin: 10px;
    padding: 10px;
    background: white;
    width: 100%;
}

@media only screen and (max-width: 600px){
    #menu {
        width: 100%;
    }
}

/* CSS FÖR ABOUT.HTML */
#grid_wrapper {
    display: grid;
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h v";
}
#grid_wrapper > * {
    padding: 10px 10px;
    min-height: 50vh;
}
#grid_wrapper:nth-last-child(0) {
    grid: h
}
#grid_wrapper:nth-last-child(1) {
    grid: v
}

/* CSS FÖR FOOTER */
footer {
    width: 100vw;
    height: 250px;
    background: var(--secondary-color);
    padding: 30px;
}
#social_media_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    color: white;
    width: 150px;
}
#social_media_section > h3 {
    text-align: left;
    font-size: 1.4rem;
    color: var(--main-color-light);
}
#social_media_section > a {
    margin: 7px 0px;
    margin-left: 20px;
}
#fb::before, #insta::before, #snap::before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background-size: contain;
    position: absolute;
    transform: translateY(2px) translateX(-24px);
}
#fb::before {
    
    background-image: url('../img/meal1.jpg');

}
#insta::before {
    
    background-image: url('../img/meal2.jpg');

}
#snap::before {
    
    background-image: url('../img/meal3.jpg');

}
